.App {
  background-color: lightgray;
  min-height: 100vh;
}


/* CSS for video call page will remove it later */
.myId {
	border-radius: 5px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, teal); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		teal
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 1rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
}

.video-container {
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
	justify-content: center;
	align-content: center;
  padding: 10px;
}
.video{
  padding: 5px;
}
.caller {
	text-align: center;
  border: 1px solid gray;
}

body {
	background: #4776e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#8e54e9,
		#4776e6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* CSS for video call page will remove it later */